<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/css/bootstrap-theme-min.css" rel="stylesheet" type="text/css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/github.min.css" />
        <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ site.url }}/">{{ site.title }}</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ site.url }}/vita" title="Vita">Vita</a></li>
                        <li><a href="{{ site.url }}/projects" title="Projects">Projects</a></li>
                        <li><a href="{{ site.url }}/services" title="Services">Services</a></li>
                        <li><a href="{{ site.url }}/blog" title="Archive">Archive</a></li>
                        <li><a href="{{ site.url }}/blog/tags" title="Tags">Tags</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container" role="main">
            <div class="row">
                <div class="col-lg-8">
                    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                </div>
                <div class="col-lg-4 sidebar">
                    <div class="well">
                        <h4>{{ site.title }}{% if site.subtitle %} <small>{{ site.subtitle }}</small>{% endif %}</h4>
                        <img src="{{ site.url }}/assets/general/marc.png" title="marc aschmann" width="188" height="125">
                    </div>
                    <div class="well sidebar-nav">
                        <h4>Contact</h4>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-envelope font-md"></i> <script language="javascript">eval(decodeURIComponent('%76%61%72%20%73%3D%27%61%6D%6C%69%6F%74%6D%3A%72%61%40%63%73%61%68%63%61%6D%6E%6E%6F%2E%67%72%27%3B%76%61%72%20%72%3D%27%27%3B%66%6F%72%28%76%61%72%20%69%3D%30%3B%69%3C%73%2E%6C%65%6E%67%74%68%3B%69%2B%2B%2C%69%2B%2B%29%7B%72%3D%72%2B%73%2E%73%75%62%73%74%72%69%6E%67%28%69%2B%31%2C%69%2B%32%29%2B%73%2E%73%75%62%73%74%72%69%6E%67%28%69%2C%69%2B%31%29%7D%64%6F%63%75%6D%65%6E%74%2E%77%72%69%74%65%28%27%3C%61%20%68%72%65%66%3D%22%27%2B%72%2B%27%22%3E%6D%61%69%6C%3C%2F%61%3E%27%29%3B'))</script></li>
                            <li><i class="fa fa-link font-md"></i> <a href="https://www.xing.com/profile/Marc_Aschmann" title="xing profile">xing</a></li>
                            <li><i class="fa fa-link font-md"></i> <a href="https://github.com/maschmann" title="github">github</a></li>
                            <li><i class="fa fa-link font-md"></i> <a href="https://twitter.com/marcaschmann" title="github">twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; {{ "now"|date("Y") }} {{ site.title }}</p>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% block scripts %}
        {% endblock %}

        {% if site.google_analytics_tracking_id %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <noscript><p><img src="//stats.aschmann.org/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    </body>
</html>
