body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

h4 small
{
    display: block;
    font-size: 60%;
    color: #888;
}

.mainContent, footer {
    max-width: 900px;
}

.list-unstyled {
    list-style-type: none;
}

.font-md {
    font-size: 0.9em;
}

.font-sm {
    font-size: 0.5em;
}

article .img-responsive {
    padding: 3px;
    background-color: #f0f0f0;
    border: 1px solid #222;
    margin: 3px 0;
}

footer {
    margin-top: 30px;
    padding: 30px 0;
}

@media (max-width: 767px) {
    .sidebar {
        padding-top: 30px;
    }
}
@media (min-width: 980px) {
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 40px;
    }
}
